<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629438952109-ss9s5iso9jsfr9fiv3d90u6pnuuus1q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629438952109-ss9s5iso9jsfr9fiv3d90u6pnuuus1q6</string>
	<key>API_KEY</key>
	<string>AIzaSyAZZ9RrTnOAvJyTWO4bZtX7xVLCvf0TkNU</string>
	<key>GCM_SENDER_ID</key>
	<string>629438952109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.hamednrg.Messenger</string>
	<key>PROJECT_ID</key>
	<string>nrgmessenger</string>
	<key>STORAGE_BUCKET</key>
	<string>nrgmessenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629438952109:ios:0e37cc2ff69f2f07f78c24</string>
</dict>
</plist>